<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>File System</span>
  <span class="example-spacer"></span>
</mat-toolbar>

<div class="clear-fix"></div>

<mat-drawer-container class="example-container">
  <mat-drawer
    mode="side"
    opened
  >Drawer content
    <mat-selection-list>
      <mat-list-option>
        List ITem
      </mat-list-option>
    </mat-selection-list>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>